*{
    margin : 0;
    padding: 0;
}
body {
    background: aliceblue;
}
.banner {
    width: 92%;
    margin: 0 auto;
}

.banner img {
    width: 100%;
}

button.btn.btn-danger {
    margin-top: 40px;
    margin: 40px auto;
    display: block;
    justify-content: center;
}

h3, h4 {
    text-align: center;
    color: red;
    font-family: segoe ui-monospace;
    font-weight: 800;
    font-size: 30px;
}

.smile {
    border: 1px solid green;
    padding: 20px 20px;
  
    display: none;

    transition: 0.3s;
}

.hien{
    display: block;
    margin-top: 0;
}
.an{display: none !important;}

.smile .btn.btn-warning {
    color: white;
    display: block;
    justify-content: center;
    margin-left: 458px;
    margin-top: 30px;
}

.chuc {
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: none;
}

.chuc h1 {
    font-size: 40px;
    font-family: cursive;
    color: #0f674a;
    text-align: center;
}

.chuc>img {
    /* width: 61%; */
    /* display: block;
    justify-content: center; */
    margin-top: 30px;
    /* margin-left: 252px; */
}
/* .col-7 {
    background-image: url(n.png);
    background-repeat: no-repeat;
    background-position: center;
} */

.row>h3 {
    font-size: 30px;
    color: crimson;
}

.row .col-7 p {
    color: #846325;
    font-size: 19px;
    font-family: cursive;
}

.col-7>p {
    margin-top: 30px;
}
.hien2{
    display: block;
}

button.btn.btn-primary {
    margin-top: 20px;
    margin-left: 300px;
    color: white;
    padding: 5px 5px;
    font-size: 18px;
}

audio {
    margin-top: 20px;
    display: none;
}